# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be exclud0x14630e0428B9BbA12896402257fa09035f9F7447ed as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
cache
.git
contracts/artifacts
contracts/.env
contracts/node_modules
contracts/typechain
subgraph/nexus-sdai/node_modules